@model QLMB.Models.MatBang

@{
    ViewBag.Title = "Thêm mặt bằng";
    Layout = "~/Views/Shared/_Manager.cshtml";
}
<div class="mt-2 mb-2">
    @Html.ActionLink(" < Quay lại", "Index", "Property", null, new { @class = "btn btn-primary" })
</div>
<div class="container-fluid">
    <div class="col">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" ng-app="">
                @using (Html.BeginForm("Create", "Property", FormMethod.Post, new { @name = "property", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <h2 class="text-uppercase text-center pt-3">Thêm mặt bằng</h2>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="mb-3">
                        <label for="MaMB" class="mb-2">Mã mặt bằng: </label>
                        <input type="text" class="form-control" name="MaMB" ng-model="MaMB" required />
                        <p 
                           class="text-danger pt-2" 
                           ng-show="property.MaMB.$touched && property.MaMB.$invalid">
                            Mã mặt bằng KHÔNG để trống!
                        </p>
                    </div>
                    <div class="mb-3">
                        <label for="Lau" class="mb-2">Lầu: </label>
                        <input type="number" class="form-control" name="Lau" min="1" ng-model="Lau" />
                    </div>
                    <div class="mb-3">
                        <label for="DienTich" class="mb-2">Diện tích: </label>
                        <input type="number" class="form-control" name="DienTich" min="10" ng-model="DienTich" />
                    </div>
                    <div class="mb-3">
                        <label for="Khu" class="mb-2">Khu: </label>
                        <input type="number" class="form-control" name="Khu" min="1" ng-model="Khu" />
                    </div>
                    <div class="mb-3">
                        <label for="TienThue" class="mb-2">Tiền thuê: </label>
                        <input type="number" class="form-control" name="TienThue" min="100000" ng-model="TienThue" />
                    </div>
                    <div class="mb-3">
                        <label for="HinhMB" class="mb-2">Hình mặt bằng: </label>
                        <input type="file" class="form-control" name="UploadImage" />
                    </div>
                    <div class="mb-3">
                        <label for="MATT" class="mb-2">Trạng thái: </label>
                        @Html.DropDownList("MATT", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="mb-3">
                        <div class="col-md-offset-2 text-center">
                            <input type="submit" value="Tạo mới" class="btn btn-success" ng-show="property.$valid" />
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

<script src="~/Scripts/angular.min.js"></script>