# Visual Studio 2015/2017 cache/options directory
.vs/
bin/
obj/Debug/
bin/QLMB.pdb
bin/QLMB.dll
obj/Debug/QLMB.csproj.AssemblyReference.cache
obj/Debug/QLMB.csproj.CopyComplete
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
