
@{
    ViewBag.Title = "Lấy lại tài khoản";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="container">
    <div class="col">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h2 class="text-center text-uppercase">LẤY LẠI MẬT KHẨU</h2>

                @*Xác định HttpPost*@
                @using (Html.BeginForm("ForgetPasswordPage", "ForgetPassword", FormMethod.Post, new
                {
                    enctype = "multipart/form-data"
                }))
                {
                    @*Tính năng bảo mật - Tránh đăng nhập chéo trang*@
                    @Html.AntiForgeryToken()

                    <div class="col m-4">

                    @*Chứng minh nhân dân*@
                    <div class="row">
                        <label for="CMND" class="mb-2">Số CMND/CCCD:</label>
                        <input type="text" name="CMND" class="form-control" placeholder="Ví dụ: 0123456789" />
                        @Html.ValidationMessage("inputCMND", new { @class = "text-danger mt-1" })
                    </div>

                    @Html.ValidationMessage("forgetError", new { @class = "text-danger mt-1" })

                    <div class="text-center mt-3">
                        <div class="row mt-1">
                            @*Nút xác nhận*@
                            <input type="submit" value="Lấy lại tài khoản" class="btn btn-success" />

                            @*Quay lại trang đăng nhập*@
                            @Html.ActionLink("Quay lại trang đăng nhập", "LoginPage", "Login", null, new { @style = "text-decoration: none" })
                        </div>
                    </div>
                </div>
                 }

            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>