body {
    background: #f5f5f5;
    box-sizing: border-box;
}

/*Hình avatar*/
.avatar {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

/*Chỉnh nút upload hình*/
.btn-outline-primary {
    border-color: #26B4FF;
    background  : transparent;
    color       : #26B4FF;
}

/*Upload hình - Ghi chú */
.text-light {
    color: #babbbc !important;
}

/* Nội dung hiển thị */
.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

/*Bo tròn*/
.row-bordered {
    overflow: hidden;
}

/*Ẩn thông tin upload hình*/
.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

/*Tô đậm mục đang chọn*/
.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

/*Màu chữ mục đang chọn*/
.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

/*Bỏ background mục đang chọn*/
html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

/*Padding danh mục*/
.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}